In [1]:
# 1. Create a list of your 8 foods and store it in a variable called foods.
# pizza cake banana kales pizza chicken beef
foods=["Cake","Pizza","Kales","Chicken","Mushroom","Pineapple","apple","eggs"]

In [2]:
# 1.1. Print the first and last item in the foods list.
print(foods[0])
print(foods[-1])

Cake
eggs

In [3]:
# 1.2. Replace the third item in the list with another food.
foods[2]="Banana"
foods

['Cake',
 'Pizza',
 'Banana',
 'Chicken',
 'Mushroom',
 'Pineapple',
 'apple',
 'eggs']

In [4]:
# 1.3. Add a new food to the end of the list using .append().
foods.append("beef")
foods

['Cake',
 'Pizza',
 'Banana',
 'Chicken',
 'Mushroom',
 'Pineapple',
 'apple',
 'eggs',
 'beef']

In [5]:
# 1.4. Remove one food from the list using .remove().
foods.remove("Cake")
foods

['Pizza',
 'Banana',
 'Chicken',
 'Mushroom',
 'Pineapple',
 'apple',
 'eggs',
 'beef']

In [6]:
# 1.5. Use a for loop to print each item in the list on a new line.
for food in foods:
    print(food)

Pizza
Banana
Chicken
Mushroom
Pineapple
apple
eggs
beef

In [15]:
foods.append("Beans")
foods

['Pizza',
 'Banana',
 'Chicken',
 'Mushroom',
 'Pineapple',
 'apple',
 'eggs',
 'beef',
 'Pizza',
 'Onion',
 'Onion',
 'Pizza',
 'Beans']

In [18]:
# 1.6. Use a loop to print only the foods that start with the letter "a".
for food in foods:
    if food == "a":
        print(food)

In [19]:
# 1.7. Count how many times "pizza" appears in the list.
count=0
for food in foods:
    if food == "Pizza":
        count+=1
print("Pizza appears", count, "times")

Pizza appears 3 times

In [20]:
for food in set(foods):
    print(food,"appears",foods.count(food))

eggs appears 1
Banana appears 1
Beans appears 1
Mushroom appears 1
apple appears 1
Pineapple appears 1
Onion appears 2
Chicken appears 1
Pizza appears 3
beef appears 1

In [21]:
# 1.8. Print the second to fourth items using slicing.
# Remember that slicing is getting a range of values using the square brackets and index
foods[1:4]

['Banana', 'Chicken', 'Mushroom']

In [22]:
# 1.9. Print the list in reverse using slicing.
foods[::-1]

['Beans',
 'Pizza',
 'Onion',
 'Onion',
 'Pizza',
 'beef',
 'eggs',
 'apple',
 'Pineapple',
 'Mushroom',
 'Chicken',
 'Banana',
 'Pizza']

In [23]:
# 2. Create a list of numbers: 5 2 9 1 7
numbers=[5,2,9,1,7]
numbers

[5, 2, 9, 1, 7]

In [24]:
# 2.1 Use the following functions:
# sum() to calculate total
# max() to find the highest
# min() to find the smallest
print("Sum of numbers", sum(numbers))
print("Maximum number", max(numbers))
print("Minimum number", min(numbers))

Sum of numbers 24
Maximum number 9
Minimum number 1

In [25]:
# 2.2. Sort the list in ascending and descending order using .sort() and .reverse().
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[1, 2, 5, 7, 9]
[9, 7, 5, 2, 1]

In [26]:
# 2.3. Use .insert() to add the number 10 at index 2.
numbers.insert(2,10)
numbers

[9, 7, 10, 5, 2, 1]

In [26]:
# 3. Create the nested list of students below and their scores:
# then print each student's name and score using a loop.
students = [["Alice", 85], ["Bob", 78], ["Charlie", 92]]
for student in students:
    name=student[0]
    score=student[1]
    print(name,score)

Alice 85
Bob 78
Charlie 92

In [28]:
# 3.1. Find the student with the highest score.
# Extract the scores
scores = [student[1] for student in students]
print(scores)

# Find the maximum score
maximum = max(scores)
print("Highest score:", maximum)

[85, 78, 92]
Highest score: 92

In [31]:
# 4. Write a function that asks the user to enter 5 numbers and stores them in a list.
numbers=[]
attempt=0
while attempt < 5:
    attempt+=1
    number=int(input("Enter 5 numbers: "))
    numbers.append(number)
numbers

Enter 5 numbers:  4
Enter 5 numbers:  6
Enter 5 numbers:  78
Enter 5 numbers:  43
Enter 5 numbers:  2

[4, 6, 78, 43, 2]

In [39]:
# 4.1. Write a function that removes all even numbers from the list provided by the user.
def remove_even_numbers(numbers):
    for number in numbers[:]:
        if number %2 ==0:
            numbers.remove(number)
    return numbers
print(remove_even_numbers(numbers))

[43]

In [22]:
# 5. Merge two lists:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list=list1+list2
list

[1, 2, 3, 4, 5, 6]

In [23]:
# 6. Ask the user to input student names until they type "stop". Store all names in a list and print it at the end.
students_list=[]
name=(input("Enter student's names: "))
while name != "stop":
    name=(input("Enter student's names: "))
    students_list.append(name)
print(students_list)

Enter student's names:  Mary
Enter student's names:  James
Enter student's names:  John
Enter student's names:  Meshack
Enter student's names:  Abby
Enter student's names:  stop

['James', 'John', 'Meshack', 'Abby', 'stop']

In [24]:
# 6.1. From the list of names, print only those that are longer than 5 characters.

for student_name in students_list:
    if len(student_name) > 5:
        print(student_name)

Meshack